# utilities
pandas
joblib
gdown
tqdm 
boto3 
requests 
regex 
gdown 
black 
isort

## ML
torch
torchtext
scikit-learn
pytorch-lightning 
torchmetrics==0.6.2
huggingface-hub 
tokenizers
sacremoses
sentencepiece
transformers

##deployment
fastapi 
pydantic 
uvicorn
nest_asyncio
pyngrok
httpie