pandas
torch==1.8 
torchtext==0.9.0
scikit-learn
joblib
pytorch-lightning 
torchmetrics==0.6.2 
gdown
tqdm 
boto3 
requests 
regex 
sentencepiece 
sacremoses 
gdown 
huggingface-hub 
tokenizers 
transformers